<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>NextGenLearn - Sign In</title>
  <link rel="stylesheet" href="../../static/accounts/css/signin.css"/>
</head>
<body>

  <div class="container">
    <h1 class="logo">NextGenLearn</h1>
    <p class="subtitle">Sign in to your account</p>

  

    <form method="POST">

      {% csrf_token %}
      <!-- Remove tab switcher since only email login is used -->
      <div class="input-group">
        <label for="email">Email Address</label>
        <div class="input-wrapper">
          <span class="input-icon">
            <img src="../../static/accounts/image/envelope-removebg-preview.png" alt="">
          </span>
         <input type="email" id="email" name="email" placeholder="Enter your email" 
       value="{{ form.email.value|default:'' }}" required/>

        </div>
      </div>

      <div class="input-group">
        <label for="password">Password</label>
        <div class="input-wrapper">
          <span class="input-icon">
            <img src="../../static/accounts/image/unlock-removebg-preview.png" alt="Lock">
          </span>
         <input type="password" id="password" name="password" placeholder="Enter your password" required/>
        </div>
      </div>

      <div class="options">
        <label class="remember-me">
          <input type="checkbox" name="remember"/>
          <span>Remember me</span>
        </label>
       <a href="{% url 'password_reset' %}" class="forgot-password">Forgot Password?</a>

      </div>

      <button type="submit" class="signin-btn">Sign In</button>

      <p class="create-account">
        Don't have an account? 
        <a href="{% url 'register' %}">Create Account</a>
      </p>

    </form>
  </div>

  <script src=""></script>
</body>
</html>
