<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Account</title>
    <link rel="stylesheet" href="../../static/accounts/css/register.css">
</head>
<body>
    <div class="container">
    <div class="registration">
      <div  class="formhead">
        <h3>Create Your Account</h3>
        <p>It's quick and easy.</p>
      </div>
      <p>Account Type</p>
       <form method="POST">
  {% csrf_token %}

  {% if form.errors %}
  <div style="background:#ffcdd2;color:#b71c1c;padding:10px;border-radius:5px;margin-bottom:15px;">
    <ul>
      {% for field_name, errors in form.errors.items %}
        {% for error in errors %}
          <li>{{ error }}</li>
        {% endfor %}
      {% endfor %}
    </ul>
  </div>
  {% endif %}

        <div class="buttonswitch">
          <div class="switchmain">
            <input type="radio" name="role" id="student" checked value="student" {% if form.role.value == 'student' %}ckecked{% endif %}>
            <label for="student" class="switch-label">Student</label>

            <input type="radio" name="role" id="lecturer" value="lecturer" {% if form.role.value == 'lecturer' %}checked{% endif %}>
            <label for="lecturer" class="switch-label">Lecturer</label>
    <!-- <option value="admin" {% if form.role.value == 'admin' %}selected{% endif %}>Admin</option> -->

          </div>
        </div>
        <div class="formproper">

          <label class="allinputtxt">First Name</label>
          <input type="text" name="first_name" id="namebox" value="{{ form.first_name.value|default:'' }}" placeholder=" Enter First Name" Required>


          <label class="allinputtxt">Last Name</label>
          <input type="text" name="last_name" id="namebox" value="{{ form.last_name.value|default:'' }}" placeholder="Enter Last Name" required>


          <label class="allinputtxt">Email Address</label>
          <div class="inputpass">
            <input type="email" name="email" value="{{ form.email.value|default:'' }}" required placeholder="Enter your Email">
          </div>


	<!-- password part -->

          <label class="allinputtxt">Password</label>
          <div class="inputpass">
            <input type="password" name="password1" placeholder="Enter your password" required>
          </div>

          <label class="allinputtxt">Confirm Password</label>
          <div class="inputpass">
            <input type="password" name="password2" placeholder="Confirm your password" required>
          </div>
		
          <button type="submit">Create Account</button>

          <div class="frmbtn">
            <span>Already have an account?</span>
            <a href="{% url 'login' %}">Login Here</a>
          </div>
        </div>
      </form>
    </div>
  </div>

</body>
</html>

