*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
}

.container {
  /* background-color: #4CAF50;  */
    /* background-color: #f8f8f8; */
    background-color: #fff;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.error-box {
background:#ffcdd2;
color:#b71c1c;
padding:10px;
border-radius:5px;
margin-bottom:15px;
          }

.registration {
  background-color: #f5f5f5;
  width: 390px;
  border-radius: 10px;
  padding: 20px;
 box-shadow: 0 6px 16px rgba(0, 100, 0, 0.3);
}

.formhead h3 {
  font-size: 23px;
  text-align: center;
  margin-bottom: 5px;
  color: #1b6e45;
}

.formhead p {
  font-size: 16px;
  text-align: center;
  margin-bottom: 15px;
}

.registration p {
  font-weight: 500;
  font-style: italic;
  margin-bottom: 5px;
}

.buttonswitch {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.switchmain {
  width: 100%;
  height: 48px;
  background-color: #eaeaea;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input[type="radio"] {
  display: none;
}

.switch-label {
  flex: 1;
  text-align: center;
  padding: 13px 0;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
}

input#student:checked + label[for="student"],
input#lecturer:checked + label[for="lecturer"] {
  background-color: #1b6e45;
  color: white;
}

.allinputtxt {
  display: block;
  margin: 10px 0 5px 0;
  font-size: 15px;
}

.inputpass {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 10px;
  width: 100%;
  height: 45px;
}

.inputpass input {
  border: none;
  outline: none;
  font-size: 15px;
  width: 100%;
}

#namebox {
  width: 100%;
  height: 45px;
  border-radius: 6px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 15px;
}

input::placeholder {
  font-size: 14px;
  color: #999;
}

button {
  display: block;
  width: 100%;
  height: 45px;
  font-size: 16px;
  margin-top: 20px;
  background-color: #1b6e45;
  border: none;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #006400;
}

.frmbtn {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 16px;
  margin-top: 15px;
  color: #333;
}

.frmbtn a {
  color: #1b6e45;
  font-weight: bold;
}
